@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --breakpoint-xxs: 375px;
  --breakpoint-xs: 390px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1600px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-inter: var(--font-inter);
  --font-primary: var(--font-instrumentSans);
  --font-jakartaSans: var(--font-jakartaSans);
  --font-blauer-neu: var(--font-blauer-neu);
  --font-clash-display: var(--font-clash-display);
  --font-silka: var(--font-silka);
  --color-calculator-bg: #2a0019;
  --color-calculator-card-bg: rgba(0, 0, 0, 0.2);
  --color-calculator-border: #505152;
  --color-neutral-11: #3c3c3c;
  --color-primary-500: #6c0443;
  --color-primary-100: #d1b1c5;
  --color-primary-50: #eeebed;
  --animate-shine: shine var(--duration) infinite linear;
}

.clip-auth {
  clip-path: url(#authClip);
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(/login.jpg) lightgray 50% / cover no-repeat;
}
